{% extends "base.html.twig" %}

{% for item in content.latest_projects %}
    <div class="project-card">
        <h3>{{ item.title }}</h3>
        <p>Client: {{ item.customer }}</p> <a href="{{ item.routePath }}">Voir le projet</a>
    </div>
{% endfor %}