<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-100 min-h-screen">
        <header class="bg-white shadow mb-6">
            <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">
                <div class="text-lg font-bold text-gray-800">
                    Mon Wiki
                </div>
                <nav class="space-x-4">
                    <a href="{{ path('app_wiki_index') }}" class="text-sm font-medium text-gray-700 hover:text-blue-600">
                        <button class="bg-gray-600 text-white px-4 py-2 rounded-md hover:bg-gray-700">wiki</button>
                    </a>
                    <a href="{{ path('admin') }}" class="text-sm font-medium text-gray-700 hover:text-blue-600">
                        <button class="bg-gray-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">admin</button>
                    </a>
                </nav>
            </div>
        </header>

        <main class="max-w-6xl mx-auto px-4">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
